/* <i class="fa-solid fa-plane"></i>
<i class="fa-solid fa-mountain"></i>
<i class="fa-solid fa-route"></i>
<i class="fa-brands fa-square-github"></i>
<i class="fa-brands fa-linkedin"></i>
<i class="fa-brands fa-square-x-twitter"></i>
<i class="fa-brands fa-square-facebook"></i> */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #000000;
}
.navbar {
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.nav-link {
    color: #ffffff;
}
#somosSection {
    margin: 2rem 3rem 3rem 3rem;
}
#somosContainer {
    display: flex;
    gap: 2rem;
}
#somosTitulo {
    border-bottom: 1px solid white;
    text-align: center;    
}
#destacadosTitulo {
    border-bottom: 1px solid white;
    text-align: center;    
}
#destacadosSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}