/* <i class="fa-solid fa-plane"></i>
<i class="fa-solid fa-mountain"></i>
<i class="fa-solid fa-route"></i>
<i class="fa-brands fa-square-github"></i>
<i class="fa-brands fa-linkedin"></i>
<i class="fa-brands fa-square-x-twitter"></i>
<i class="fa-brands fa-square-facebook"></i> */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #000000;
}
.navbar {
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
  margin: 0;
}
.nav-link {
  color: #ffffff;
}
#viajesLogo {
  width: 30px;
  height: 30px;
  margin: 0.5rem;
}
#somosSection {
  margin: 2rem 3rem 3rem 3rem;
}
#somosContainer {
  display: flex;
  gap: 2rem;
}
#somosTitulo {
  border-bottom: 1px solid gray;
}
#destacadosTitulo {
  border-bottom: 1px solid gray;
}
#destacadosSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 3rem 3rem 3rem;
}
#contactoSection {
  margin: 2rem 3rem 3rem 3rem;
}
#contactoTitulo {
  border-bottom: 1px solid gray;
}
#footerSection {
  padding: 2rem;
  font-size: 3rem;
}
@media (min-width: 768px) {
  #footerSection {
    display: flex;
    justify-content: space-evenly;
  }
}
